# Server config
PORT=3000
NODE_ENV=development

# Aws config
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=access_key_here
AWS_SECRET_ACCESS_KEY=secret_key_here

# The name of the DynamoDB table we are writing the ESP32 data to
DYNAMODB_TABLE_NAME=esp32-readings-table